.area-datadisplay-controls
{
  
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content:end;
}

.area-datadisplay-controls button.clearcontrol{
  padding:0.2rem;
  color: white;
  font-size: small;
  background-color: rgba(151, 58, 3, 0.438);
  border-radius: 5px;
}

.danger-controls{
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-around;
  
 /* background-color: rgba(255, 0, 0, 0.541); */
}

div.control-area{
  margin: 3rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22), 0 4px 4px 0 rgba(0, 0, 0, 0.35);
  padding: 0.5rem;
  
  height: 80%;
  width: 30%;
  background-color: rgba(0, 139, 139, 0.438);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;

}

div.control-area.bet{
  background-color: rgba(113, 139, 0, 0.438);

}

div.control-area.cpt{
  background-color: rgba(0, 72, 139, 0.438);

}

div.control-area .area-title{
  position: relative;
  top:0;
  text-align: center;
  padding-bottom: 10px;

}

div.control-area .area-controls{
background-color: #01010149;
align-items: center;
flex-wrap: wrap;
display: flex;
justify-content: space-around;
height: 50%;
border-radius: 10px;  
margin-bottom: 0.5rem;
}
div.control-area .area-controls button.control{
  width: fit-content;
  height: fit-content;
}

div.control-area .area-datadisplay{
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(95, 158, 160, 0.26);
  border-radius: 20px;
}


div.control-area .area-datadisplay .area-dataset{
  background-color: rgba(128, 128, 128, 0.692);
  border-radius: 3px;
  text-align: center;
  padding: 0.2rem;
  margin: 0.2rem;
}


div.control-area .area-datadisplay .area-dataset:hover{
  background-color: rgba(167, 167, 167, 0.692);
}



button.control{
  border-radius: 5px;
  padding:0.5rem;
  background-color: rgba(240, 248, 255, 0.438);
}

button.control.danger{
  border-radius: 5px;
  padding:0.5rem;
  color: white;
  background-color: rgba(151, 58, 3, 0.438);
}


button.control:hover{
  
  text-decoration: none;
  background-color: aliceblue;
  color: #000000;
  
  border: none;
  outline: 1px solid #099c298c;
}


button:focus.control:hover{
  
  text-decoration: none;
  background-color: #a3a3a3;
  color: #fcfcfc;
  
  border: none;
  outline: 1px solid #010101;
}

div.results{
  display: flex;
  flex-direction: column;
  width: 50%;;
  align-items: center;
  justify-content: space-around;

}

div.results div.result{
width: 50%;
padding: 5px;
text-align: center;
border-radius: 10px;
background-color: red;
}


div.results div.result.nok{
  background-color: red;
  }

  
div.results div.result.ok{
  background-color: green;
  }

.results-showcase{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;

}

#particles-js {
    /*background-color: black;*/
    width: 100%;
    height: 100%;
   
    z-index: -1;
    top: 0;
    left: 0;
position: fixed;


}

div.splitter-text{
  text-align: center;
  align-items: center;
  align-self: center;
  padding: 15px;
}

.together{
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  text-align: center;
}

div.buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

div.buttons button.btn{
  border-radius: 5px;
  text-decoration: none;
  background-color: #099c29;
  opacity: 1;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22), 0 4px 4px 0 rgba(0, 0, 0, 0.35);

  outline: 1px solid #0303038c;
  outline: none;
  transition: 0.3s;
}

div.buttons button.btn:hover{
  
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #099c298c;
}


div.buttons button:focus.btn:hover{
  
  text-decoration: none;
  background-color: #a3a3a3;
  color: #fcfcfc;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}

.datadisplay-placeholder{
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  font-size: x-large;
}

div.inputbox button.minibtn{
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.562);
  opacity: 1;
  color: #ffffff;
  padding: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22), 0 4px 4px 0 rgba(0, 0, 0, 0.35);

  border-radius: 0px 10px 10px 0px;
  border:none;
  outline: none;
  transition: 0.3s;
}


div.inputbox button.minibtn:hover{
  
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.678);;
  color: #ffffff;
}


div.inputbox button:focus.minibtn:hover{
  
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.781);;
  color: #a71a1ab6;
}

input[type="text"].custom-input {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22), 0 4px 4px 0 rgba(0, 0, 0, 0.35);

  padding: 12px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="text"].custom-input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.5;
  text-align: center;
}
input[type="text"].custom-input:focus::placeholder{
  color: transparent;

}

.inputbox{
  width: 60%;
flex-direction: row;
display: flex;
}

div.dashbar
{
    top: 0px;
    left:0px;
    background-color: #3e3e3ec9;
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 2147483647;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

div.dashbar a{
    border-bottom:none;
}

.pi-button, .raise-button {
	letter-spacing: 1px;
	display: inline-block;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
	-webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	font-family: sans-serif;
	cursor:pointer;
	border: none;
	margin: 5px;
	background-color: transparent;
	text-align: center;
	color: #444;
}

.pi-button:focus, .raise-button:focus {
	outline: none;
}

.pi-button:hover {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22), 0 4px 4px 0 rgba(0, 0, 0, 0.35);

	color: #222;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.6);
}

.pi-button:active {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44), 0 1px 1px 0 rgba(0, 0, 0, 0.68);
}


.pi-button:focus::before {
	display: block;
	height: 150px;
	width: 150px;
	top: -58px;
	left: -30px;
	opacity: 0;
	content: "";
	background: #AAA;
	border-radius: 1000px;
	position: absolute;
	animation-name: fade;
	animation-timing-function: ease-out;
    animation-duration: 1s;
	z-index: -2;
}

@keyframes fade {
	0% {opacity: 1; transform: scale(0);}
	50% {opacity: 1; transform: scale(1);}
    100% {opacity: 0;}
}


.with-shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35), 0 1px 1px 0 rgba(0, 0, 0, 0.59);
	background-color: rgba(255, 255, 255, 0.3);
}


.raise-button:hover {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3), 0 15px 15px 0 rgba(0, 0, 0, 0.4);
	background-color: #FFF !important;
	color: #222 !important;
}

.raise-button:active {
	-webkit-transition: 0.05s ease-out;
	transition: 0.05s ease-out;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44), 0 1px 1px 0 rgba(0, 0, 0, 0.68);
}



button.connectbtn
{
    border-radius: 20px;
    height: 30px;
    width: 200px;
}


button.ripple {
	background-position: center;
	transition: background 0.8s;
  }
  button.ripple:hover {
	background: rgba(255, 0, 0, 0.301) radial-gradient(circle, transparent 1%, rgba(255, 0, 0, 0.301) 1%) center/15000%;

	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	backdrop-filter: blur(5px);

}
  button.ripple:active {
	background-color: rgba(255, 0, 0, 0.493);
	background-size: 100%;
	transition: background 0s;
  
  }


  
div.connectinfo
{
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    right:0;
    margin-right: 2rem;
    position: absolute;
}

div.connectinfo div.account
{
    line-height: 45px;
    margin: 5px 15px 5px 5px;

  
}

div.connectinfo div.account b{
    color: red;
}


div.logo-left
{
position: absolute;
left: 0;

}



div.center-message
{
    position: absolute;
    top: 80px;
    z-index: 2000;
    background: repeating-linear-gradient(
        45deg,
        #6b27003f,
        #0000003a 10px
      );
    width: 100%;
    height: 4rem;
    text-align: center;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Quicksand';
    border: none;
    
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
animation: glow 4s ease-in-out infinite alternate;
}



/* Glow Colors */
#glow-blue {
    animation-name: glow-blue;
  }
  @-webkit-keyframes glow-blue {
    from {
      box-shadow: 0 0 2px #82d7f944, 0 0 10px #82d7f956, 0 0 20px #00a7fb46, 0 0 30prgba(0, 167, 251, 0.411)fb;
    }
    to {
      box-shadow: 0 0 10px #82d7f967, 0 0 20px #5ec9fe67, 0 0 30px #5ec9fe70, 0 0 40px #5ec9fe63;
    }
  }


  body{
      
    background-image: url('/images/polyback.min.svg');
    background-size: auto calc(100vh);
    background-repeat: no-repeat;
    background-position-x: 0px;
    size:cover;
    margin:0;
    height: 100vh;
    width: 100vw;
    color: white;
    
      
  }


  .section-top{
    height: calc(10vh - 80px);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    align-items: center;
    flex-wrap: wrap;
  }
  .section-bottom{
    height: calc(90vh - 80px);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    align-items: center;
    flex-wrap: wrap;
  }



.page{
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
  align-items: center;
  flex-wrap: wrap;
}

  /*  fileupload */

.fileupload{
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
}

.fileupload .container {
  border-radius: 25px;
  color: black;
  height: fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 0.85;
  
}

.fileupload .container .card {
  color: black;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.fileupload .container .card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.fileupload .container .card .drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.fileupload .container .card .drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.fileupload .container .card .drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.fileupload .container .card .btn {
  border-radius: 5px;
  text-decoration: none;
  background-color: #229ea6;
  opacity: 1;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  
  outline: none;
  transition: 0.3s;
}

.fileupload .container .card .btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.fileupload .container .card .form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #7373735b #b0b0b0;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #b0b0b081;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #73737370;
    border-radius: 10px;
    border: 0px solid #bfbfbf83;
  }