 <div class="cryptlogo-banner">
 <a href="https://cryptng.com">
 <svg
   width="60mm"
   height="28.121111mm"
   viewBox="1 1.5 70 28.121111"
   version="1.1"
   id="svg5"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs28250" />
  <g
     id="layer1"
     transform="translate(-20.132561,-84) scale(0.65)">
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.1008px;font-family:Quicksand;fill:#ffffff;fill-opacity:1;stroke-width:0.0526088"
       x="135.128502"
       y="164.39116"
       text-anchor="end"
       id="text2679-4">{{@project}}</text>
    <g
       id="g23081">
      <g
         id="g10509"
         transform="matrix(0.03245599,0,0,0.03245599,11.891017,130.62382)"
         style="stroke-width:15.4055;stroke-miterlimit:4;stroke-dasharray:none">
        <path
           id="path841"
           style="fill:#ffffff;stroke-width:16.8444;stroke-miterlimit:4;stroke-dasharray:none"
           class="st1"
           d="M 1250,429.70703 1048.1582,764.61719 1250,883.90625 1451.8418,764.61719 Z"
           transform="matrix(0.91457574,0,0,0.91457574,-0.01967725,0)" />
        <path
           class="st1"
           d="m 1143.2,994.4 184.7,-260.1 -184.7,109 -184.6,-109 z"
           id="path843"
           style="fill:#ffffff;stroke-width:15.4055;stroke-miterlimit:4;stroke-dasharray:none" />
        <circle
           style="fill:none;stroke:#ffffff;stroke-width:15.4055;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           id="path952"
           cx="1149.3132"
           cy="715.04291"
           r="425.51636" />
      </g>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:15.2402px;line-height:1.25;font-family:Broadway;letter-spacing:0px;word-spacing:0px;fill:#f1f1f1;fill-opacity:1;stroke:none;stroke-width:0.0793767"
         x="67.304817"
         y="151.21399"
         id="text2679"><tspan
           sodipodi:role="line"
           id="tspan2677"
           style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:15.2402px;font-family:Quicksand, sans-serif;fill:#ffffff;fill-opacity:1;stroke-width:0.0793767"
           x="67.304817"
           y="151.21399">CRYPTNG</tspan></text>
      <path
         style="fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.479678;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 62.92348,154.47795 h 72.45544"
         id="path10544" />
    </g>
  </g>
</svg>
</a>
</div>