<div class="dashbar">
<CryptlogoBanner @project="Pdf Weaver"></CryptlogoBanner>
  

    <button class="raise-button with-shadow connectbtn ripple" style="background-color: #da1f1fb2; color: white;" type="button"  {{on 'click' @showRequestTokenModal}}>Request Token</button>
   
     <div class="content">
       
     </div>

</div>