{{page-title "Buy"}}
<DashBar/>
<div class="page">
    <div class="page-content">

        <div class="card wide-card">
            <h3 class="card-title">
                We offer different usage plans
            </h3>
            <p class="card-content">
            
                <ul>
                    <li>1000 Executions: 100 €</li>
                    <li>5000 Executions: 200 €</li>
                    <li>10000 Executions: 300 €</li>
                    <li>1 Year unlimited: 400 €</li>
                    <li>2 Year unlimited: 700 €</li>
                    <li>3 Year unlimited: 900 €</li>
                </ul>
            </p>
            <div class="card-spotlight">
        
            <b>Contact</b> <br>

            Novent Concepts<br>
            Wehneltsteig 7<br>
            13629 Berlin<br>
            Germany<br>
            <br>
            +49 30 345 081 46<br>
            +49 151 676 175 24      <br>
            Christian Greinke via christian.greinke@novent.de<br>
            
            </div>
        </div>
    </div>
</div>