{{page-title "Pricing"}}
<DashBar @route="buy"/>
<div class="page">
    <div class="page-content">

        <div class="card wide-card">
            <h3 class="card-title">
                We offer different usage plans
            </h3>
            <div class="card-body">
                <p class="card-content">
                    <h3>Standard Package max 1 min execution time (ca 10 pages)  per Execution. Input xml &lt; 10kb and Input Xsl &lt; 100kb</h3>
                    <ul>
                        <li>1000 Executions ca 10.000 Pages: 50 €</li>
                        <li>5000 Executions ca 50.000 Pages: 100 €</li>
                        <li>10000 Executions ca 100.000 Pages: 200 €</li>
                        <li>1 Year unlimited* ca 5.000.000 Pages: 4.000 €</li>
                        <li>2 Year unlimited* ca 10.000.000 Pages: 7.000 €</li>
                        <li>3 Year unlimited* ca 15.000.000 Pages: 9.000 €</li>
                    </ul>
                    <em>* Less than 1.000.000 executions per year</em>

                    <h3>Heavy Package max 5 min execution time (ca 200 pages)  per Execution. Input xml &lt; 1Mb and Input Xsl &lt; 300kb</h3>
                    <ul>
                        <li>100 Executions: 50 €</li>
                        <li>500 Executions: 100 €</li>
                        <li>1000 Executions: 200 €</li>
                        <li>1 Year unlimited: 8.000 €</li>
                        <li>2 Year unlimited: 14.000 €</li>
                        <li>3 Year unlimited: 18.000 €</li>
                    </ul>

                    <h3>Custom Package </h3>
                    <ul>
                        <li>Please ask for quotation</li>
                    </ul>
                </p>
                <div class="card-spotlight">
            
                <b>Contact</b> <br>

                Novent Concepts<br>
                Wehneltsteig 7<br>
                13629 Berlin<br>
                Germany<br>
                <br>
                +49 30 345 081 46<br>
                +49 151 676 175 24      <br>
                Christian Greinke via christian.greinke@novent.de<br>
                
                </div>
            </div>
        </div>
    </div>
</div>