{{page-title "Features"}}
<DashBar/>
<style>
    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    p {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 15px;
    }
</style>
<div class="page">
    <h2 id="features-">Features 🌟</h2>
    <div class="page-content">
        
        <div class="card wide-card">
            <h3 class="card-title">
                Fast &amp; Scalable 🚀
            </h3>
            <p class="card-content">PDF Weaver is designed to be fast and highly scalable, enabling you to generate thousands of PDFs in no time. Whether you have a small project or a large-scale operation, PDF Weaver can handle it all. This means your business can efficiently automate document generation, reducing workload and saving valuable resources.</p>
            <div class="card-spotlight">
                1000 pdf per hour.
            
            </div>
        </div>
        <div class="card wide-card">
            <h3 class="card-title">
                Secure &amp; Self-Hosted 🔒
            </h3>
            <p class="card-content">Security is a top priority for us. PDF Weaver can be self-hosted, ensuring that your data stays in your control, providing peace of mind when dealing with sensitive information. You can also use our secure online service during the evaluation/test phase. This flexibility allows businesses to choose the best solution for their security needs.</p>
            <div class="card-spotlight">
                Zero data storage of processing artefacts. Open Source.
            
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="card wide-card">
            <h3 class="card-title">
                Easy Integration 🛠️
            </h3>
            <p class="card-content">Integrate PDF Weaver seamlessly into your existing workflow with our simple-to-use API. Generate invoices, data sheets, and personalized documents on the fly with minimal effort. This allows businesses to improve their processes and eliminate manual tasks, increasing overall efficiency and productivity.</p>
            <div class="card-spotlight">
                <ul>
                    <li>Fully documented OpenApi specification</li>
                    <li>SDK for process integration</li>
                    <li>SDK for data integration</li>
                    <li>Evaluation production ready API</li>
                </ul>
            
            </div>
        </div>
        <div class="card wide-card">
            <h3 class="card-title">
                Blockchain-Integrated Variant 🔗
            </h3>
            <p class="card-content">With our ProofPdf variant, generate proof-of-generation and proof-of-content, storing it securely in the blockchain. Ensure the authenticity of your documents with this added layer of protection. This feature is particularly useful for businesses that require tamper-proof documentation, such as legal documents, contracts, or certificates.</p>
            <div class="card-spotlight">
                Permanent proof of creation 
            
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="card wide-card">
            <h3 class="card-title">
                Wide Range of Use Cases 🌐
            </h3>
            <p class="card-content">PDF Weaver can be utilized across various industries and applications, from invoice generation to marketing materials. It&#39;s a versatile solution for your PDF generation needs. Businesses can benefit from a single, unified tool that addresses multiple document generation scenarios, reducing the need for multiple software solutions and simplifying their tech stack.</p>
            <div class="card-spotlight">
                Large range of use cases.
            
            </div>
        </div>
  
    </div>
</div>