{{page-title "HowTo"}}
<DashBar/>
<div class="page">
    <div class="page-content">

        <div class="card wide-card">
            <h3 class="card-title">
                Use our service in your infrastructure
            </h3>
            <p class="card-content">
            
                You can easyly integrate our service endpoint into your infrastructure. If you need assistance or customization you can contact us.

                For integration you can visit the OpenApi interface at https://yitc.ddns.net:5000/swagger/index.html
            </p>
            <div class="card-spotlight">
        
            <b>Contact</b> <br>

            Novent Concepts<br>
            Wehneltsteig 7<br>
            13629 Berlin<br>
            Germany<br>
            <br>
            +49 30 345 081 46<br>
            +49 151 676 175 24      <br>
            Christian Greinke via christian.greinke@novent.de<br>
            
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="card wide-card">
            <h3 class="card-title">
                Weaving your PDF with XSL FO
            </h3>
            <p class="card-content">
            
                Goto Apache FO
            </p>
            <div class="card-spotlight">
        
            <b>Contact</b> <br>

            Novent Concepts<br>
            Wehneltsteig 7<br>
            13629 Berlin<br>
            Germany<br>
            <br>
            +49 30 345 081 46<br>
            +49 151 676 175 24      <br>
            Christian Greinke via christian.greinke@novent.de<br>
            
            </div>
        </div>
    </div>
</div>