{{page-title "Samples"}}
<DashBar @route="samples"/>
<div class="page">
<div class="page-content">
    <div class="card">
            <h3 class="card-title">
                Dear Visitor,
            </h3>
           <p class="card-content">
    We are actively expanding our collection of samples and are equally eager to hear about any use case ideas you might have. Please feel free to send us an email with your concepts, and we will endeavor to create corresponding sample XML and XSL documents tailored to your scenarios.
    </p>
    <p class="card-content">
        Email to christian.greinke@novent.de
    </p>
        </div>
</div>
</div>