<div class="dashbar">
    <div class="logo-left">
<span class="image main"><img class="whiteback" src="assets/images/cryptng-pure.png" width="120" height="80"></span>
    </div>
    
    <div class="connect-right">
    <button class="raise-button with-shadow" style="background-color: #da1f1fb2; color: white;" type="button"  {{action @connect}}>CONNECT</button>
    </div>
      

</div>