<div class="web3bar-center">
    <div class="web3top-center">
       <!-- <div class="web3bar-spacer"></div>-->
       <!-- <div class="title">
        SOME TEXT OR LOGO
        </div>-->
       <!-- <div class="web3bar-spacer-big"></div>-->
            <div class="boxed-data">
                <div class="data-left">
                    <div>DATATITLE1</div>
                    <div>DATATITLE2</div>
                    <div>DATATITLE3</div>
                </div>
                <div class="data-right">
                    <div>DATAPOINT1</div>
                    <div>DATAPOINT2</div>
                    <div>DATAPOINT3</div>
                </div>
                
            </div>
       <!-- <div class="web3bar-spacer"></div>-->
            <!--<div class="single-data">
                    <div>DATATITLE4</div>
                    <div>DATAPOINT4</div>
                </div>-->
    </div>
     <div class="web3bottom">
        <div class="boxed-controls-center">
                <div class="boxeddiv"><button class="raise-button with-shadow" style="background-color: #da1f1fb2; color: white;" type="button" {{action @sendMoney}}>Send ETH</button></div> 
                <div class="boxeddiv"><button class="raise-button with-shadow" style="background-color: #da1f1fb2; color: white;" type="button" {{action @migrate}}>Migrate</button></div>  
                <div class="boxeddiv"><button class="raise-button with-shadow" style="background-color: #da1f1fb2; color: white;" type="button" {{action @mint}}>Mint</button></div> 
                <div class="boxeddiv"><button class="raise-button with-shadow" style="background-color: #da1f1fb2; color: white;" type="button" {{action @getcontractbalance}}>GetBalance</button></div> 
        </div>
        </div>
        
      

</div>